<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>AssetNumGen</title>
</head>
<body>
    
    <h1>Für welches Land sind die Asset Nummern?</h1></br>
    
    <div>
        <button onclick="window.location.href='/switzerland';">Schweiz</button>
        <button onclick="window.location.href='/germany';">Deutschland</button>
        <button onclick="window.location.href='/france';">Frankreich</button>
    </div>

</body>
</html>