<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/main.css">
        <title>PageOne</title>
    </head>
    <body>

        <h1>Dies ist die erste Seite</h1><br>

        <form action="" class="panel formContainer" method="POST">
            <h1 id="formTitle">Login</h1>
            <input name="username" type="text" placeholder="Username" class="inField" minlength="1" maxlength="31" required>
            <input name="password" type="password" placeholder="Password" class="inField" minlength="1" required>
            <button name="is_submitted" type="submit" value="true" class="tag" id="submitBtn">Login</button>
        </form>

        <br>

        <button onclick="window.location.href='/';">Index</button>
        
    </body>
</html>